annotated-types
anyio
certifi
charset-normalizer
click
dnspython
email-validator
fastapi
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
MarkupSafe
orjson
prometheus-client
prometheus-fastapi-instrumentator
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
redis-om
python-dotenv
python-multipart
PyYAML
requests
sniffio
starlette
typing_extensions
ujson
urllib3
uvicorn
uvloop
watchfiles
websockets
aioredis
